<template lang="pug">
  
.breadcrumbs
  .breadcrumbs__item(
    v-for="element in elements"
    @click="changeRoute(element.link)"
  ) {{ element.title }}

</template>

<script>
export default {
  props: {
    elements: {
      type: Array,
      default: () => ([])
    }
  },
  methods: {
    changeRoute: function (link) {
      if (link) {
        this.$router.push(link);
      }
    }
  }
}
</script>

<style lang="stylus">

.breadcrumbs
  display flex
  align-items center

  &__item
    font-weight 300
    line-height 3.5
    color $text-primary
    text-decoration none
    cursor pointer

    &:after
      content ''
      display inline-block
      width 6px
      height 9px
      margin 0 24px
      background url('../../img/arrow.svg') 50% 50% no-repeat
      pointer-events none

    &:last-child
      cursor default

      &:after
        display none

</style>
