<template lang="pug">
  
.nomination-card(
  v-click-outside="close"
  :class="{ disabled: disabled, active: active }"
  @mouseover="hovered = true"
  @mouseleave="hovered = false"
  @click="open"
  @transitionend="showList = (active) ? true : showList"
) 
  .nomination-card__content
    .nomination-card__image(:style="{ backgroundImage: `url('${image}')` }")
    nomination-card-rating.nomination-card__rating(
      :show="showList"
      :projects="sortedProjects"
    )

  .nomination-card__footer
    .nomination-card__label {{ name }}
    .nomination-card__total 
      .icon
        include ../../img/portfolio.svg
      | {{ total }}

</template>

<script>

import throttle from 'lodash.throttle';
import NominationCardRating from './NominationCardRating.vue';

export default {
  components: {
    NominationCardRating
  },
  props: {
    id: {
      type: Number,
      default: 0
    },
    image: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    projects: {
      type: Array,
      default: () => ([])
    },
    total: {
      type: Number,
      default: 0
    },
    edge: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    hovered: false,
    active: false,
    showList: false,
    currentProjectIndex: 0,
    timeout: null
  }),
  computed: {
    disabled: function () {
      return this.edge || this.projects.length === 0;
    },
    sortedProjects: function () {
      let result = this.projects;
      return result.sort((a, b) => b.score - a.score);
    },
    project: function () {
      return this.projects[this.currentProjectIndex];
    }
  },
  watch: {
    hovered: throttle(function () {
      if (this.edge) {
        this.$emit('hoverEdge', this.hovered);
      }
    }, 500)
  },
  methods: {
    open: function () {
      if (!this.disabled) {
        this.active = true;
        this.$emit('open')
      }
    },
    close: function () {
      if (this.active) {
        this.showList = false;
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          this.active = false;
          this.$emit('close');
        }, 250);
      }
    },
    formatId: function (id) {
      let size = 5;

      while (id.toString().length < size) id = '0' + id;

      return id;
    },
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'

$card-width = 273px
$card-hover-width = 300px
$card-expand-width = 632px
$width-transition-duration = 0.65s

.nomination-card
  width $card-width
  transition width $width-transition-duration, opacity 0.25s

  &.disabled
    opacity 0.65

  &.active
    width $card-expand-width

  &:hover:not(.active):not(.disabled)
    width $card-hover-width
    
  &.active &__rating
    width $card-expand-width - $card-width

  &__content
    display flex
    transition all $width-transition-duration

  &__image
    flex-grow 1
    height 464px
    background-color $avatar-bg
    background-position 50% 50% 
    background-repeat no-repeat
    background-size cover
    transition all $width-transition-duration
    cursor pointer

  &__rating
    width 0
    transition all $width-transition-duration

  &__footer
    display flex
    justify-content space-between
    min-height 42px
    margin-top 22px
    line-height 1.5
    letter-spacing 0.1px

  &__label
    margin-right 16px

  &__total
    flex-grow 0
    flex-shrink 0
    width 45px
    text-align right
    color $text-secondary

    .icon
      display inline-block
      margin-right 7px
      vertical-align middle

    svg
      display block
      margin-bottom 5px

</style>
