<template lang="pug">
  
router-link(to="/").logo БлогФест

</template>

<script>
export default {
  
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'

.logo
  font-weight 500
  color $text-primary
  text-transform uppercase
  text-decoration none

</style>
