<template lang="pug">
  aside.member-info(v-loading="loading")
    | Участник
    p {{ member.name }}
    p {{ member.email }}
    p {{ member.phone }}
</template>

<script>
export default {
  data: () => ({
    loading: false,
  }),
  computed: {
    member: function () {
      return this.$store.state.project.member;
    }
  },
  methods: {}
}
</script>

<style lang="stylus">
@import '../../stylus/vars.styl';

.member-info
  max-width 300px
  width 100%
  padding 20px
  margin-top 20px
  background-color #fff
  box-shadow 1px 1px 2px 0 rgba(0,0,0,.15)
  overflow hidden

</style>
