<template lang="pug">

transition(name="fade" :duration="500")
  .moderation-form
    transition(name="fade")
      .moderation-form__comment(v-if="showCommentField")
        .moderation-form__comment-field
          .moderation-form__comment-label Комментарии
          el-input(
            v-model="comment"
            type="textarea"
            placeholder="Укажите по какой причине работа не прошла модерацию"
            :autosize="{ minRows: 3 }"
          )
    .moderation-form__btn-group
      button.moderation-form__btn(
        :class="{ 'moderation-form__btn--back': showSubmit }"
        @click="reject"
      )
        .icon(v-if="!showSubmit")
          include ../../img/close.svg
        p(v-else) Назад
      
      button.moderation-form__btn.moderation-form__btn--accept(
        :class="{ 'moderation-form__btn--submit': showSubmit }"
        @click="accept"
        :disabled="showSubmit && !edited"
        @mouseover="buttonHover = true"
        @mouseleave="buttonHover = false"
      )
        .icon(v-if="!showSubmit")
          include ../../img/check.svg
        p(v-else) Сохранить

</template>

<script>
import throttle from 'lodash.throttle';

export default {
  data: () => ({
    loading: false,
    disabled: false,
    buttonHover: false,
    showSubmit: false,
    showCommentField: false,
    comment: '',
    status: ''
  }),
  computed: {
    edited: function () {
      return (this.status === 'reject') ? !!this.comment : true;
    }
  },
  watch: {
    buttonHover: throttle(function () {
      if (this.showSubmit && this.edited) {
        this.$emit('buttonHover', this.buttonHover);
      }
    }, 500)
  },
  methods: {
    accept: function () {
      if (this.showSubmit) {
        this.saveModeration();
      } else {
        this.showSubmit = true;
        this.status = 'accept';
      }
    },
    reject: function () {
      if (this.showSubmit) {
        this.showSubmit = false;
        this.showCommentField = false;
      } else {
        this.status = 'reject';
        this.showSubmit = true;
        this.showCommentField = true;
      }
    },
    saveModeration: function () {
      let { comment, status } = this;

      if (status === 'reject' && !comment) {
        return false;
      }

      this.status = '';
      this.comment = '';
      this.showSubmit = false;
      this.showCommentField = false;
      this.$emit('saveModeration', { comment, status });
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'
@import '../../stylus/mixins.styl'

.moderation-form
  position relative
  display flex
  flex-direction column
  justify-content center
  margin-left -16px
  padding-left 464px

  &__comment
    position absolute
    left 0
    bottom 0
    width 432px
    min-height 100%
    padding 9% 88px 14% 72px
    background-color #f8f8f8
    z-index 2

    &-label
      font-size 12px
      font-weight 500
      line-height 4.67
      letter-spacing 0.2px

    .el-textarea
      width 272px

    .el-textarea__inner
      padding 0
      border none
      outline none
      background none
      font-family 'HelveticaNeueCyr'
      font-size 12px
      font-weight 300
      line-height 1.67
      letter-spacing 0.3px
      color $text-primary
      resize none

      &::placeholder
        color $text-secondary

  &__btn-group
    align-self flex-end

  &__btn
    display inline-block
    width 80px
    height @width
    border solid 1px $outline
    border-radius 50%
    background none
    outline none
    color $outline
    cursor pointer
    text-transform uppercase
    transition all 0.25s

    &:hover:enabled
      background-color #fff
      border-color #fff
      color $text-primary
    
    &--accept
      margin-left 40px
      margin-right 24px

    &--submit
      width 120px
      height @width
      margin-left 20px
      margin-right 4px

      &:enabled
        font-family inherit
        font-weight 500
        background-color #fff
        border-color #fff
        color $text-primary

    .icon
      display inline-block

    svg
      display block

</style>
