<template lang="pug">
  
.nomination-card-rating
  transition(name="fade-card" :duration="250" mode="out-in")
    .nomination-card-rating__list(v-if="showList && !showProjectCard" key="rating-list")
      .nomination-card-rating__item(
        v-for="project, index in projects"
        @click="showList = false; showProjectCard = true; currentProjectIndex = index"
      )
        .nomination-card-rating__item__title {{ project.title }}
        .nomination-card-rating__item__score.score
          div {{ project.score }}
          .icon
            include ../../img/star-inline.svg

    .nomination-card-rating__project-card(v-else-if="showProjectCard && show" key="project-card")
      .nomination-card-rating__project-card__back-btn(@click="showList = true; showProjectCard = false;")
      .nomination-card-rating__project-card__content
        .nomination-card-rating__project-card__id ID {{ formatId(project.id) }}
        .nomination-card-rating__project-card__title-container
          .nomination-card-rating__project-card__title {{ project.title }}
          .nomination-card-rating__project-card__score.score
            div {{ project.score }}
            .icon(
              :class="{ gold: currentProjectIndex === 0, silver: currentProjectIndex === 1, copper: currentProjectIndex === 2 }"
            )
              include ../../img/star-inline.svg

      .nomination-card-rating__project-card__name {{ project.member.name }} {{ project.member.lastname }}
      a.nomination-card-rating__project-card__phone(:href="`tel:${project.member.phone}`") {{ project.member.phone }}
      a.nomination-card-rating__project-card__email(:href="`mailto:${project.member.email}`") {{ project.member.email }}

</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    projects: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    showList: false,
    showProjectCard: false,
    currentProjectIndex: 0,
  }),
  computed: {
    project: function () {
      return this.projects[this.currentProjectIndex];
    }
  },
  watch: {
    show: function (val) {
      this.showList = val;
    }
  },
  methods: {
    formatId: function (id) {
      let size = 5;
      while (id.toString().length < size) id = '0' + id;
      return id;
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'

$gold = #efdaad
$silver = #d7dbe0
$copper = #e1cfbc

$border = solid 0.5px #dadada

.nomination-card-rating
  background-color $bg-secondary
  overflow hidden

  .score
    display flex
    align-items center
    letter-spacing -0.5px
    text-align right
    font-weight 300

    .icon
      margin-left 16px

      &.gold .star
        stroke $gold
        fill $gold

      &.silver .star
        stroke $silver
        fill $silver

      &.copper .star
        stroke $copper
        fill $copper

      svg
        display block
        width 14px
        height 14px

  &__list
    padding 40px 24px

  &__item
    display flex
    align-items center
    justify-content space-between
    height 48px
    border-bottom $border
    font-size 16px
    font-weight 300
    line-height 0.75
    color $text-primary
    cursor pointer

    &:nth-child(8)
      border-bottom none

    & .star
      stroke $outline
      fill $bg-secondary

    &:nth-child(1) .star
      stroke $gold
      fill $gold

    &:nth-child(2) .star
      stroke $silver
      fill $silver

    &:nth-child(3) .star
      stroke $copper
      fill $copper

  &__project-card
    padding 60px 24px
    font-size 16px
    line-height 0.75
    color $text-primary

    &__back-btn
      width 32px
      height 10px
      margin-left 16px
      background url('../../img/back.svg') 50% 50% no-repeat
      cursor pointer

    &__content
      padding 40px 16px
      border-bottom $border

    &__title-container
      display flex
      align-items center
      justify-content space-between
      height 24px

    &__id
      margin-bottom 8px
      font-size 12px
      font-weight 300
      line-height 1
      letter-spacing 0.6px
      color $text-primary

    &__name,
    &__phone,
    &__email
      display flex
      align-items center
      height 48px
      padding 0 16px
      border-bottom $border
      font-weight 300
      line-height 1.5
      color $text-primary
      text-decoration none

    &__name:before,
    &__phone:before,
    &__email:before
      content ''
      flex-grow 0
      flex-shrink 0
      display block
      width 12px
      height 12px
      margin-right 16px

    &__name:before
      background url('../../img/user.svg') 50% 50% no-repeat

    &__phone:before
      background url('../../img/phone.svg') 50% 50% no-repeat

    &__email:before
      width 15px
      margin-right 13px
      background url('../../img/mail.svg') 50% 50% no-repeat

.fade-card-enter-active, .fade-card-leave-active
  transition opacity .5s

.fade-card-enter, .fade-card-leave-to
  opacity 0

</style>
