<template lang="pug">

.nomination-progress
  .nomination-progress__label Проверено
  .nomination-progress__progress-bar(
    :style="{ width: `${width}px` }"
  )
    .nomination-progress__progress-bar__inner(
      :style="{ width: `${progressBarInnerWidth}px` }"
    )
      .nomination-progress__completed(v-if="completed !== total") {{ completed }}

  .nomination-progress__total(:class="{ completed: completed === total }") {{ total }}
  
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      default: 356
    },
    total: {
      type: Number,
      default: 0
    },
    completed: {
      type: Number,
      default: 0
    }
  },
  computed: {
    progress: function () {
      return Math.round(this.completed / this.total * 100) || 0;
    },
    progressBarInnerWidth: function () {
      return this.width / 100 * this.progress;
    },
  }
}
</script>

<style lang="stylus">
@import '../../stylus/vars.styl';

.nomination-progress
  display flex
  align-items center

  &__label
    margin-right 24px
    margin-bottom 4px
    font-size 16px
    font-weight 300

  &__progress-bar
    height 2px
    background-color $outline
    
    &__inner
      position relative
      height 100% 
      background-color $text-primary
      transition width 0.7s

  &__completed
    position absolute
    top -20px
    right 0
    font-size 12px
    font-weight 500
    letter-spacing 0.2px

  &__total
    margin-left 22px
    font-size 12px
    font-weight 500
    letter-spacing 0.2px
    color $text-secondary

    &.completed
      color $text-primary

</style>
