<template lang="pug">
  
.nomination-card(
  :class="{ disabled: disabled }"
  @mouseover="hovered = true"
  @mouseleave="hovered = false"
  @click="onClick"
) 
  .nomination-card__content
    .nomination-card__image(:style="{ backgroundImage: `url('${image}')` }")
  
  .nomination-card__footer
    .nomination-card__label {{ name }}
    .nomination-card__total 
      .icon
        include ../../img/portfolio.svg
      | {{ total }}

</template>

<script>

import throttle from 'lodash.throttle';

export default {
  props: {
    id: {
      type: Number,
      default: 0
    },
    image: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    projects: {
      type: Array,
      default: () => ([])
    },
    completed: {
      type: Number,
      default: 0
    },
    total: {
      type: Number,
      default: 0
    },
    disabled: {
      type: Boolean,
      default: false
    },
    edge: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    hovered: false,
    active: false,
    showList: false,
    showProjectCard: false,
    currentProjectIndex: 0,
    timeout: null
  }),
  computed: {
    sortedProjects: function () {
      let result = this.projects;
      return result.sort((a, b) => b.score - a.score);
    },
    project: function () {
      return this.projects[this.currentProjectIndex];
    }
  },
  watch: {
    hovered: throttle(function () {
      if (this.edge) {
        this.$emit('hoverEdge', this.hovered);
      } else {
        this.$emit('hover', this.hovered);
      }
    }, 500)
  },
  methods: {
    onClick: function () {
      if (this.edge) {
        this.$emit('clickEdge');
      } else {
        this.$emit('click');
      }
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'

$card-width = 273px
$card-hover-width = 300px
$card-expand-width = 632px
$width-transition-duration = 0.65s

$gold = #efdaad
$silver = #d7dbe0
$copper = #e1cfbc

$border = solid 0.5px #dadada

.nomination-card
  width $card-width
  transition width $width-transition-duration, opacity 0.25s

  &.disabled
    opacity 0.65

  &.active
    width $card-expand-width

  &:hover:not(.active):not(.disabled)
    width $card-expand-width

  &__content
    display flex
    transition all $width-transition-duration

  &__image
    flex-grow 1
    height 464px
    background-color $avatar-bg
    background-position 50% 50% 
    background-repeat no-repeat
    background-size cover
    transition all $width-transition-duration ease-in-out
    cursor pointer

  &__footer
    display flex
    justify-content space-between
    min-height 42px
    margin-top 22px
    line-height 1.5
    letter-spacing 0.1px

  &__label
    margin-right 16px

  &__total
    flex-grow 0
    flex-shrink 0
    width 45px
    text-align right
    color $text-secondary

    .icon
      display inline-block
      margin-right 7px
      vertical-align middle

    svg
      display block
      margin-bottom 5px

</style>
