<template lang="pug">
  
.nomination-slider
  .nomination-slider__wrapper(:style="sliderStyle")
    .nomination-slider__slide(
      v-for="nomination, index in nominations"
      :key="nomination.id"
    )
      dashboard-nomination-card(
        v-if="checkRole('supervisor')"
        :key="nomination.id"
        :id="nomination.id"
        :name="nomination.name"
        :image="nomination.image"
        :projects="nomination.projects"
        :total="nomination.projects_count"
        :disabled="index === currentSlide + slidesPerPage || index === currentSlide - 1 || nomination.projects.length === 0"
        :edge="index === currentSlide + slidesPerPage || index === currentSlide - 1"
        @hoverEdge="onHoverEdge($event, index)"
        @click.native="changeSlide(index)"
        @open="changeExpandSlideOffset(index)"
        @close="resetExpandSlideOffset"
      )
      nomination-card(
        v-else
        :id="nomination.id"
        :name="nomination.name"
        :image="nomination.image"
        :completed="nomination.completed_projects_count"
        :total="nomination.projects_count"
        :disabled="index === currentSlide + slidesPerPage || index === currentSlide - 1"
        :edge="index === currentSlide + slidesPerPage || index === currentSlide - 1"
        @hover="onHover($event, index)"
        @hoverEdge="onHoverEdge($event, index)"
        @clickEdge="changeSlide(index)"
        @click="selectNomination(nomination.id)"
      )

</template>

<script>
import NominationCard from '../components/NominationCard.vue';
import DashboardNominationCard from '../components/DashboardNominationCard.vue';

export default {
  components: {
    NominationCard,
    DashboardNominationCard,
  },
  props: {
    nominations: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    currentSlide: 0,
    hoverOffset: 0,
    expandSlideOffset: 0,
    slideWidth: 273,
    slideGap: 88,
    slideAnimationDuration: 1.25,
    pageOffset: (window.innerWidth - 1152) / 2
  }),
  computed: {
    sliderTranslate: function () {
      let offset = (this.slidesPerPage === 4) ? this.pageOffset - 128 : this.pageOffset;
      let translate = -this.currentSlide * (this.slideWidth + this.slideGap) + offset;
      return (this.slidesPerPage === 4) ? translate - this.slideGap : translate;
    },
    slidesPerPage: function () {
      return (window.innerWidth - ((this.slideWidth + this.slideGap) * 4 + this.pageOffset) >= 0) ? 4 : 3;
    },
    sliderStyle: function () {
      return {
        width: (this.slideWidth + this.slideGap) * this.nominations.length + 'px',
        transform: `translateX(${this.sliderTranslate + this.hoverOffset + this.expandSlideOffset}px)`,
        transitionDuration: this.slideAnimationDuration + 's'
      }; 
    }
  },
  methods: {
    changeSlide: function (index) {
      if (index === this.currentSlide + this.slidesPerPage && this.currentSlide < this.nominations.length) {
        this.slideAnimationDuration = 0.65;
        this.hoverOffset = 0;
        this.currentSlide += 1;
      }
      if (index === this.currentSlide - 1 && this.currentSlide !== 0) {
        this.slideAnimationDuration = 0.65;
        this.hoverOffset = 0;
        this.currentSlide -= 1;
      }
    },
    onHoverEdge: function (hovered, index) {
      if (index === this.currentSlide + this.slidesPerPage) {
        this.slideAnimationDuration = 0.5;
        this.hoverOffset = (hovered) ? -20 : 0; 
      }

      if (index === this.currentSlide -1) {
        this.slideAnimationDuration = 0.5;
        this.hoverOffset = (hovered) ? 20 : 0; 
      }
    },
    onHover: function (hovered, index) {
      this.slideAnimationDuration = 0.65;
      if (hovered) {
        this.changeExpandSlideOffset(index);
      } else {
        this.resetExpandSlideOffset();
      }
    },
    changeExpandSlideOffset: function (index) {
      if (index - this.currentSlide % this.slidesPerPage === this.slidesPerPage - 1) {
        this.slideAnimationDuration = 0.65;
        this.expandSlideOffset = this.slideWidth - 632;
      }
    },
    resetExpandSlideOffset: function () {
      this.expandSlideOffset = 0;
    },
    selectNomination: function (nominationId) {
      let projectId;
      let selectedNomination = this.nominations.find(item => item.id === nominationId);

      if (this.checkRole('moderator')) {
        projectId = selectedNomination.next_unmoderated_project_id;
      }

      if (this.checkRole('judge')) {
        projectId = selectedNomination.next_incompleted_project_id;
      }

      if (projectId) {
        this.$router.push({
          name: 'projectView',
          params: { nominationId, projectId }
        });
      }
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'
@import '../../stylus/mixins.styl'

.nomination-slider

  &__wrapper
    display flex
    width 100%
    transition-property all

  &__slide
    margin-right 88px
    flex-grow 0
    flex-shrink 0

    &:first-child
      margin-left 72px

    &:last-child
      margin-right 0

</style>
