<template lang="pug">
  
.progress-bar
  .progress-bar__label {{ label }}
  .progress-bar__bar(ref="progressBar")
    .progress-bar__bar-inner(
      :style="{ width: `${progress}%` }"
    )
  .progress-bar__total {{ progress + '%' }}

</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    total: {
      type: Number,
      default: 0
    },
    completed: {
      type: Number,
      default: 0
    }
  },
  computed: {
    progress: function () {
      return Math.round(this.completed / this.total * 100) || 0;
    },
    progressBarInnerWidth: function () {
      return this.$refs['progressBar'].width / 100 * this.progress;
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'
@import '../../stylus/mixins.styl'

.progress-bar
  display flex
  align-items center
  font-size 16px
  line-height 3.5

  &__label
    margin-right 16px
    font-weight 300

  &__bar
    width 100%
    height 2px
    margin-top 8px
    background-color $outline
    
  &__bar-inner
    height 100% 
    background-color $text-primary
    transition width 0.7s

  &__total
    margin-left 24px
    font-weight 500
    letter-spacing 0.2px
    text-align right
    color $text-secondary


</style>
