<template lang="pug">
  
.project-info
  .project-info__id ID {{ formatProjectId }}
  h1.project-info__title {{ title }}
  .project-info__text {{ description }}

</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    }
  },
  computed: {
    formatProjectId: function () {
      let size = 5;
      let result = this.id;

      while (result.toString().length < size) result = '0' + result;
      return result;
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'

.project-info
  background-color #fff
  padding-top 53px
  padding-right 64px

  &__id
    font-size 12px
    font-weight 300
    letter-spacing 0.6px

  &__title
    margin 16px 0
    font-size 24px
    font-weight 500
    line-height 1.2
    letter-spacing 0.2px

  &__text
    font-size 12px
    font-weight 300
    line-height 1.67

</style>
