<template lang="pug">
  
.project-viewer
  transition-group.project-viewer__pagination(
    v-if="!checkRole('moderator')"
    name="flip-list" 
    tag="div" 
  )
    .project-viewer__pagination-item(
      v-for="item in pagination"
      :key="item.id"
      :class="{ 'active': activeIndex === item.index }"
      @click="() => goToProject(item.id)"
    ) {{ item.index + 1 }}
    
  .project-viewer__slider(
    :class="{ 'project-viewer__slider--no-actions': checkRole('moderator') }"
  )
    swiper(
      ref="slider"
      :options="swiperOption"
    )
      swiper-slide.project-viewer__slide(
        v-for="slide, index in slides"
        :key="slide.id"
        :style="{ width: `${playerConfig.width}px`, height: `${playerConfig.height}px`, backgroundImage: `url('${getYoutubePreview(slide.media.link)}')` }"
      )
        youtube(
          v-if="isEnablePlayer(index)"
          :video-id="$youtube.getIdFromURL(slide.media.link)"
          :player-width="playerConfig.width"
          :player-height="playerConfig.height"
        )
      .project-viewer__nav(slot="pagination" v-if="!checkRole('moderator')")
        .project-viewer__prev-btn(@click="() => goToProject('prev')")
        .project-viewer__next-btn(@click="() => goToProject('next')")

</template>

<script>

import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {
  components: {
    swiper,
    swiperSlide
  },
  props: {
    projects: {
      type: Array,
      default: () => ([])
    },
    activeIndex: {
      type: Number,
      default: 0
    },
    hovered: {
      type: Boolean,
      default: false
    },
  },
  data: () => ({
    slides:[],
    playerConfig: {
      width: window.innerHeight * 0.466 * 1.78,
      height: window.innerHeight * 0.466
    },
    swiperOption: {
      allowTouchMove: false,
      slidesPerView: 'auto',
      spaceBetween: window.innerWidth * 0.145,
      slidesOffsetAfter: window.innerWidth * 0.624 * 0.38,
      slidesOffsetBefore: window.innerWidth * 0.624 * 0.0001
    }
  }),
  computed: {
    slider() {
      return (this.$refs.slider) ? this.$refs.slider.swiper : null;
    },
    pagination: function () {
      let slides = this.slides;
      let result = slides.map((item, index) => {
        item.index = index;
        return item;
      });

      if (slides.length > 5) {
        let i = this.activeIndex;

        let beforeOffset = (slides[i - 2]) ? 2 : (slides[i - 1]) ? 1 : 0;
        let afterOffset = (slides[i + 2]) ? 2 : (slides[i + 1]) ? 1 : 0;

        let min = i - beforeOffset - 2 + afterOffset;
        let max = i + afterOffset + 2 - beforeOffset;

        result = result.filter(
          item => item.index >= min && item.index <= max
        );
      }

      return result;
    }
  },
  watch: {
    activeIndex: 'setInitialSlide',
    projects: function (val) {
      this.slides = val;
    },
    hovered: function (val) {
      if (this.slider) {
        let translate = this.slider.getTranslate();
        let offset = Math.round(window.innerWidth * 0.06);
        translate = val ? translate - offset : translate + offset;
        this.slider.setTranslate(translate);
      }
    }
  },
  methods: {
    setInitialSlide: function () {
      if (this.slider) {
        this.slider.slideTo(this.activeIndex, 500, false);
      }
    },
    isEnablePlayer: function (index) {
      return index === this.activeIndex && this.slider && (!this.slider.animating || (this.slider.animating && this.hover));
    },
    getYoutubePreview: function (url) {
      let videoId = this.$youtube.getIdFromURL(url);
      return `//img.youtube.com/vi/${videoId}/maxresdefault.jpg`;
    },
    goToProject: function (toProject) {
      this.$emit('changeProject', toProject);
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'
@import '../../stylus/mixins.styl'

.project-viewer
  display flex
  align-items center

  &__pagination
    position relative
    width 24px
    height 134px
    margin-right 56px
    overflow hidden

    &-item
      font-size 12px
      margin-bottom 16px
      font-weight 500
      line-height 1
      letter-spacing 0.1px
      text-align center
      color $text-placeholder
      transition all 0.25s
      cursor pointer

      &.active
        color $text-primary
        cursor default

      &:last-child
        margin-bottom 0

  &__slider
    position relative
    width 100%
    overflow hidden

    &--no-actions
      margin-left 5vw

  .swiper-wrapper
    transition-duration 0.5s !important

  &__nav
    position absolute
    top 50%
    left get-vh(848px - 48px)
    transform translateY(-50%)
    display flex
    z-index 2

  &__prev-btn, &__next-btn
    width 48px
    height 48px
    background #fff url('../../img/arrow-big.svg') 50% 50% no-repeat
    cursor pointer
    outline none

  &__prev-btn
    transform rotate(-180deg)

  &__slide
    background-color $avatar-bg
    background-position 50% 50% 
    background-repeat no-repeat
    background-size cover


.flip-list-enter, .flip-list-leave-to
  opacity 0
  transform translateY(10px)

.flip-list-leave-active
  position absolute

</style>
