<template lang="pug">

transition(name="fade" :duration="500")
  .rating-form(v-if="rating")
    transition-group.rating-form__list(name="fade" tag="div" v-show="!showTotals")
      .rating-form__item(
        v-for="item, index in rating"
        v-if="index === currentIndex"
        :key="index"
      )
        .rating-form__item-label {{ item.name }}
        el-rate(
          v-model.number="item.value"
          :max="10"
          :icon-classes="['icon-star', 'icon-star', 'icon-star']"
          void-icon-class="icon-star-off"
          show-score
          @change="edited = true")

    transition-group.rating-form__totals-list(name="fade" tag="div" v-show="showTotals")
      .rating-form__totals-item(
        v-for="item, index in rating"
        :key="index"
      )
        .rating-form__totals-item__label(@click="toCriterion(index)") {{ item.name }}
          .rating-form__totals-item__total {{ item.value }}
        .rating-form__totals-item__progress-bar
          .rating-form__totals-item__progress-bar__inner(
            :style="{ width: `${progressBarInnerWidth(item.value)}px` }"
          )

    button.rating-form__btn(
      :class="{ 'rating-form__btn--submit': showTotals, 'edited': edited }"
      :disabled="!edited"
      @click="saveRating"
      @mouseover="buttonHover = true"
      @mouseleave="buttonHover = false"
    )
      .icon(v-if="!showTotals")
        include ../../img/check.svg

      p(v-else) Сохранить

</template>

<script>
import throttle from 'lodash.throttle';

export default {
  data: () => ({
    loading: false,
    edited: false,
    currentIndex: 0,
    showTotals: false,
    buttonHover: false,
    rating: null
  }),
  computed: {
    currentCriterion: function () {
      return this.rating.find(
        (item, index) => index === this.currentIndex
      );
    }
  },
  watch: {
    '$route': 'loadRating',
    buttonHover: throttle(function () {
      if (this.showTotals) {
        this.$emit('buttonHover', this.buttonHover);
      }
    }, 500)
  },
  created() {
    this.loadRating();
  },
  methods: {
    loadRating: function () {
      let { projectId, nominationId } = this.$route.params;

      this.edited = false;
      this.loading = true;

      this.$store.dispatch('loadRating', { projectId, nominationId })
      .then(() => {
        this.loading = false;
        this.rating = this.$store.state.rating;
        this.showTotals = this.$store.state.project.completed;
      });
    },
    progressBarInnerWidth: function (completed, total = 10, width = 126) {
      return width / 100 * Math.round(completed / total * 100) || 0;
    },
    toCriterion: function (index) {
      this.currentIndex = index;
      this.showTotals = false;
      this.edited = false;
    },
    nextCriterion: function () {
      this.edited = false;

      if (this.currentIndex < this.rating.length - 1) {
        this.currentIndex++;
      } else {
        this.showTotals = true;
      }
    },
    saveRating: function () {
      if (!this.showTotals) {
        if (this.currentIndex < this.rating.length - 1) {
          this.toCriterion(this.currentIndex + 1);
        } else {
          this.showTotals = true;
        }
      } else {
        this.toCriterion(0);
        this.$emit('saveRating', this.rating);
      }
    }
  }
}
</script>

<style lang="stylus">
@import '../../stylus/vars.styl';

.rating-form
  display flex
  justify-content flex-end
  width 100%
  margin 12px auto 0

  &__item-label
    display flex
    align-items center
    font-size 16px
    font-weight 300
    line-height 3.5
    letter-spacing 0.8px

    &:before
      content ''
      width 17px
      height 1px
      margin-right 15px
      background-color $text-primary

  &__totals-list
    display grid
    grid-template-columns 126px 126px
    grid-column-gap 90px
    grid-row-gap 38px
    height 90px
    margin-top 15px
    overflow hidden

  &__totals-item
    font-size 12px
    letter-spacing 0.2px

    &__label
      display flex
      justify-content space-between
      align-items center
      font-weight 300
      cursor pointer

    &__total
      font-weight 500
      text-align right

    &__progress-bar
      margin-top 12px
      width 100%
      height 2px
      background-color $outline

      &__inner
        width 50%
        height 100% 
        background-color $text-primary
        transition width 0.7s

  &__btn
    display inline-block
    width 80px
    height @width
    margin-top 24px
    margin-left 57px
    margin-right 24px
    border solid 1px $outline
    border-radius 50%
    background none
    outline none
    color $outline
    cursor pointer
    text-transform uppercase
    transition all 0.25s

    &.edited
      background-color #fff
      border-color #fff
      color $text-primary

    &--submit
      width 120px
      height @width
      margin-top 0
      margin-left 93px
      margin-right 4px
      background-color #fff
      border-color #fff
      color $text-primary
      font-family inherit
      font-weight 500

    .icon
      display inline-block
      
    svg
      display block

  .el-rate__text
    display inline-block
    width 48px
    font-size 24px
    font-weight 300
    line-height 0.71
    letter-spacing 0.2px
    text-align right
    color $text-primary

.icon-star, .icon-star-off
  width 18px
  height 17px
  margin-right 0
  margin-left 20px

.icon-star
  background url('../../img/star.svg') 50% 50% no-repeat

.icon-star-off
  background url('../../img/star-off.svg') 50% 50% no-repeat


</style>
