<template lang="pug">

.user-links(v-click-outside="() => { showDropdown = false; }")
  .user-links__content(@click="showDropdown = !showDropdown")
    .user-links__name {{ fullName }}
    .user-links__avatar {{ userInitials }}

  .user-links__dropdown(v-show="showDropdown")
    .user-links__dropdown__content
      .user-links__dropdown__avatar {{ userInitials }}
      .user-links__dropdown__name {{ fullName }}
        .user-links__dropdown__role {{ user.role.label }}
    a.user-links__dropdown__logout-btn(href="/logout") Выйти

</template>

<script>
import 'mdi-vue/LogoutIcon';

export default {
  data: () => ({
    showDropdown: false,
  }),
  computed: {
    user: function() {
      return this.$store.state.user;
    },
    fullName: function () {
      return (this.user) ? `${this.user.lastname} ${this.user.name}` : '';
    },
    userInitials: function () {
      return this.user.lastname[0] + this.user.name[0];
    }
  }
}
</script>

<style lang="stylus">
@import '../../stylus/vars.styl';

.user-links
  position relative

  &__content
    display flex
    align-items center
    font-weight 300
    cursor pointer

  &__name
    text-transform capitalize

  &__avatar
    width 48px
    height @width
    border-radius 50%
    margin-left 16px
    background-color $avatar-bg
    text-align center
    font-size 16px
    line-height @height
    text-transform uppercase

  &__dropdown
    position absolute
    bottom -22px
    transform translateY(100%)
    right 2px
    background-color #fff
    border solid 0.8px $avatar-bg
    z-index 2

    &:before
      content ''
      position absolute
      top -5px
      right 14px
      width 16px
      height 16px
      border solid 0.8px $avatar-bg
      transform rotate(45deg)
      background-color #fff
      z-index -1

    &__content
      background-color #fff
      font-weight 300
      padding 16px
      padding-right 24px
      letter-spacing 0.2px
      white-space nowrap

    &__name
      display inline-block
      text-transform capitalize
      font-size 12px
      vertical-align middle

    &__role
      margin-top 2px
      font-size 9px
      color #898989

    &__avatar
      @extends .user-links__avatar
      display inline-block
      vertical-align middle
      width 32px
      height 32px
      margin-right 16px
      margin-left 0
      font-size 12px
      letter-spacing 0.2px
      line-height @height

    &__logout-btn
      display block
      width 100%
      height 39px
      background-color $avatar-bg
      border none
      outline none
      font-size 9px
      font-weight 500
      text-align center
      line-height @height
      letter-spacing 0.2px
      text-transform uppercase
      text-decoration none
      cursor pointer
      color $text-regular

</style>
