<template lang="pug">
  el-dialog(
    :title="title",
    :visible="show"
    width="500px"
    @close="$emit('close')"
  )
    el-form(
      v-loading="loading"
      ref="criterionForm"
      :model="form"
      :rules="rules" 
      @submit="onSubmit" 
    )
      el-form-item(label="Наименование" prop="name")
        el-input(v-model="form.name" type="text")

      el-form-item(label="Номинация" prop="nomination")
        el-select(
          v-model="form.nomination"
          placeholder="Выберите номинацию"
          style="width: 100%;"
        )
          el-option(
            v-for="nomination in nominations"
            :key="nomination.id"
            :label="nomination.name"
            :value="nomination.id")

    span(slot="footer")
      button.form-btn.form-btn--cancel(@click="$emit('close')") Отмена
      button.form-btn.form-btn--submit(@click="onSubmit") Сохранить

</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      required: true,
      default: 'create',
      validator: function (value) {
        return ['create', 'edit'].indexOf(value) !== -1
      }
    },
    show: { 
      type: Boolean,
      default: false
    },
    initData: {
      type: Object,
      default: () => ({})
    },
  },
  data: () => ({
    loading: false,
    form: {
      name: '',
      nomination: ''
    },
    rules: {
      name: [{
        required: true,
        message: 'Введите наименование номинации',
        trigger: 'blur'
      }],
      nomination: [
        { required: true, message: 'Выберите номинацию', trigger: 'blur' }
      ],
    }
  }),
  computed: {
    title: function () {
      return this.mode === 'edit' ? 'Редактирование критерия' : 'Добавление критерия';
    },
    nominations: function () {
      return this.$store.state.nominationList;
    }
  },
  watch: {
    initData: function (values)  {
      this.form.name = (values.name) ? values.name : '';
      this.form.nomination = (values.nomination && values.nomination.id) ? values.nomination.id : '';
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData: function () {
      this.loading = true;
      this.$store.dispatch('loadNominationList', { short: true }).then(() => {
        this.loading = false;
      });
    },
    onSubmit: function () {
      this.$refs['criterionForm'].validate(valid => {
        if (!valid) return false;

        this.$emit('submit', {
          id: this.initData.id || null,
          action: this.mode,
          values: this.form
        })
      });
    }
  }
}
</script>
