<template lang="pug">
  el-dialog(
    :title="title",
    :visible="show"
    width="500px"
    @close="$emit('close')"
  )
    el-form(
      v-loading="loading"
      ref="nominationForm"
      :model="form"
      :rules="rules" 
      label-position="top"
      @submit="onSubmit"
    )
      el-form-item(label="Наименование" prop="name")
        el-input(v-model="form.name" type="text")

      el-form-item(label="Изображение" prop="image")
        el-upload.image-uploader(
          action="#"
          name="image"
          :auto-upload="false"
          :show-file-list="false"
          :on-change="onChangeUpload"
        )
          .image-preview(v-if="image" :style="{ backgroundImage: `url('${image}')` }")
          i.el-icon-plus.image-uploader-icon(v-else)

    span(slot="footer")
      button.form-btn.form-btn--cancel(@click="$emit('close')") Отмена
      button.form-btn.form-btn--submit(@click="onSubmit") Сохранить

</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      required: true,
      default: 'create',
      validator: function (value) {
        return ['create', 'edit'].indexOf(value) !== -1
      }
    },
    show: { 
      type: Boolean,
      default: false
    },
    initData: {
      type: Object,
      default: () => ({})
    },
  },
  data: () => ({
    loading: false,
    image: '',
    form: {
      name: '',
      image: ''
    },
    rules: {
      name: [{
        required: true,
        message: 'Введите наименование номинации',
        trigger: 'blur'
      }],
      image: [{
        required: true,
        message: 'Загрузите изображение номинации',
        trigger: 'blur'
      }]
    }
  }),
  computed: {
    title: function () {
      return this.mode === 'edit' ? 'Редактирование номинации' : 'Добавление номинации';
    },
    nominations: function () {
      return this.$store.state.nominationList;
    }
  },
  watch: {
    initData: function (values)  {
      this.form.name = (values.name) ? values.name : '';
      this.form.image = (values.image) ? values.image : '';
      this.image = this.form.image;
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['nominationForm'].validate(valid => {
        if (!valid) return false;

        this.$emit('submit', {
          id: this.initData.id || null,
          action: this.mode,
          values: this.form
        })
      });
    },
    onChangeUpload(file) {
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isLt2M) {
        this.$message.error('Изображение должно быть размером не более 2Мб!');
      }
      
      this.form.image = file.raw;
      this.image = URL.createObjectURL(file.raw);
      return isLt2M;
    }
  }
}
</script>

<style lang="stylus">

@import '../../../stylus/vars.styl'

.image-uploader
  margin 0 auto
  width 272px
  height 464px
  border dashed 1px $outline

  .el-upload
    display flex
    width 100%
    height 100%

.image-preview
  width 100%
  height 100%
  background-position 50% 50%
  background-repeat no-repeat
  background-size cover

.image-uploader-icon
  margin auto
  color $outline
  font-size 24px

</style>
