<template lang="pug">
  el-dialog(
    :title="title",
    :visible="show"
    width="600px"
    @close="$emit('close')"
  )
    el-form(
      v-loading="loading"
      ref="projectForm"
      :model="form"
      :rules="rules" 
      @submit="onSubmit"
    )
      el-form-item(label="Наименование" prop="title")
        el-input(v-model="form.title" type="text")

      el-form-item(label="Краткое описание" prop="description")
        el-input(v-model="form.description" type="textarea")

      el-form-item(label="Номинация" prop="nomination")
        el-select(
          v-model="form.nomination"
          placeholder="Выберите номинацию"
          style="width: 100%;"
        )
          el-option(
            v-for="nomination in nominations"
            :key="nomination.id"
            :label="nomination.name"
            :value="nomination.id")

      el-form-item(label="Ссылка на YouTube" prop="link")
        el-input(v-model="form.link")

      el-form-item(label="Имя" prop="name")
        el-input(v-model="form.name")

      el-form-item(label="Фамилия" prop="lastname")
        el-input(v-model="form.lastname")

      el-form-item(label="E-mail" prop="email")
        el-input(v-model="form.email")

      el-form-item(label="Номер телефона" prop="phone")
        el-input(v-model="form.phone" v-mask="'+7 (###) ###-##-##'")

    span(slot="footer")
      button.form-btn.form-btn--cancel(@click="$emit('close')") Отмена
      button.form-btn.form-btn--submit(@click="onSubmit") Сохранить

</template>

<script>
import { mask } from 'vue-the-mask';
const yotubeRegexp = /https?:\/\/(?:[0-9A-Z-]+\.)?(?:youtu\.be\/|youtube(?:-nocookie)?\.com\S*)([\w-]{11})(?=[^\w-]|$)(?![?=&+%\w.-]*(?:['"][^<>]*>|<\/a>))[?=&+%\w.-]*/i;

export default {
  directives: {
    mask
  },
  props: {
    mode: {
      type: String,
      required: true,
      default: 'create',
      validator: function (value) {
        return ['create', 'edit'].indexOf(value) !== -1
      }
    },
    show: { 
      type: Boolean,
      default: false
    },
    initData: {
      type: Object,
      default: () => ({})
    },
  },
  data: () => ({
    loading: false,
    form: {
      title: '',
      description: '',
      link: '',
      nomination: '',
      name: '',
      lastname: '',
      email: '',
      phone: ''
    },
    rules: {
      title: [
        {
          required: true,
          message: 'Введите название конкурсной работы',
          trigger: 'blur'
        },
        {
          min: 5,
          max: 80,
          message: 'Название должно быть длиной от 5 до 80 символов',
          trigger: 'blur'
        }
      ],
      description: [
        {
          required: true,
          message: 'Введите краткое описание конкурсной работы',
          trigger: 'blur'
        },
        {
          min: 5,
          max: 140,
          message: 'Краткое описание должно быть длиной от 5 до 140 символов',
          trigger: 'blur'
        }
      ],
      nomination: [
        { required: true, message: 'Выберите номинацию', trigger: 'blur' }
      ],
      link: [
        {
          required: true,
          message: 'Введите ссылку на YouTube',
          trigger: 'blur',
          pattern: yotubeRegexp
        }
      ],
      name: [{ required: true, message: 'Введите своё имя', trigger: 'blur' }],
      lastname: [{ required: true, message: 'Введите свою фамилию', trigger: 'blur' }],
      email: [
        {
          required: true,
          message: 'Введите свой E-mail',
          trigger: 'blur',
          type: 'email'
        }
      ],
      phone: [
        {
          required: true,
          message: 'Введите свой номер телефона',
          trigger: 'blur'
        }
      ]
    }
  }),
  computed: {
    title: function () {
      return this.mode === 'edit' ? 'Редактирование проекта' : 'Добавление проекта';
    },
    nominations: function () {
      return this.$store.state.nominationList;
    }
  },
  watch: {
    initData: function (values)  {
      for (const key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          this.form[key] = (values[key]) ? values[key] : '';
        }
      }

      this.form.link = (values.media) ? values.media.link : '';
      this.form.nomination = (values.nomination && values.nomination.id) ? values.nomination.id : '';
      this.form.name = (values.member && values.member.name) ? values.member.name : '';
      this.form.lastname = (values.member && values.member.lastname) ? values.member.lastname : '';
      this.form.email = (values.member && values.member.email) ? values.member.email : '';
      this.form.phone = (values.member && values.member.phone) ? values.member.phone : '';
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData: function () {
      this.loading = true;
      this.$store.dispatch('loadNominationList', { short: true }).then(() => {
        this.loading = false;
      });
    },
    onSubmit: function () {
      this.$refs['projectForm'].validate(valid => {
        if (!valid) return false;

        this.$emit('submit', {
          id: this.initData.id || null,
          action: this.mode,
          values: this.form
        })
      });
    }
  }
}
</script>
