<template lang="pug">

el-form.settings-form(
  ref="settingsForm"
  :model="form"
  :rules="rules" 
  label-position="top"
  @submit="onSubmit"
)
  el-form-item(label="Название сайта" prop="title")
    el-input(v-model="form.title" type="text")

  el-form-item(label="Описание сайта" prop="description")
    el-input(v-model="form.description" type="textarea")

  el-form-item(label="Приём конкурсных работ" prop="reception")
    el-switch(
      v-model="form.reception"
      :inactive-value="0"
      :active-value="1"
      active-text="Показывать форму добавления конкурсных работ"
    )

  .settings-form__btns
    button.form-btn.form-btn--submit(@click.prevent="onSubmit") Сохранить

</template>

<script>
export default {
  props: {
    initData: {
      type: Object,
      default: () => ({})
    },
  },
  data: () => ({
    form: {
      title: '',
      description: '',
      reception: ''
    },
    rules: {
      title: [{
        required: true,
        message: 'Введите название сайта',
        trigger: 'blur'
      }]
    }
  }),
  watch: {
    initData: function (values)  {
      for (const key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          this.form[key] = (values[key]) ? values[key] : '';
        }
      }
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['settingsForm'].validate(valid => {
        if (!valid) return false;

        this.$emit('submit', this.form)
      });
    }
  }
}
</script>

<style lang="stylus">

.settings-form
  padding 24px
  background-color #fff

  &__btns
    text-align right

  .el-switch__label
    font-weight 300

</style>
