<template lang="pug">
  el-dialog(
    :title="title",
    :visible="show"
    width="500px"
    @close="$emit('close')"
  )
    el-form(
      v-loading="loading"
      ref="userForm"
      :model="form"
      :rules="rules" 
      @submit="onSubmit"
    )
      el-form-item(label="Имя" prop="name")
        el-input(v-model="form.name" type="text")

      el-form-item(label="Фамилия" prop="lastname")
        el-input(v-model="form.lastname" type="text")

      el-form-item(label="Роль пользователя" prop="role")
        el-select(
          v-model="form.role"
          placeholder="Выберите роль пользователя"
          style="width: 100%;"
        )
          el-option(label="Администратор", :value="1")
          el-option(label="Член жюри", :value="2")
          el-option(label="Модератор", :value="3")
          el-option(label="Председатель комиссии", :value="4")

      el-form-item(label="E-mail" prop="email")
        el-input(v-model="form.email" type="text")

      el-form-item(label="Пароль" prop="password")
        el-input(v-model="form.password" type="password")

    span(slot="footer")
      button.form-btn.form-btn--cancel(@click="$emit('close')") Отмена
      button.form-btn.form-btn--submit(@click="onSubmit") Сохранить

</template>

<script>

export default {
  props: {
    mode: {
      type: String,
      required: true,
      default: 'create',
      validator: function (value) {
        return ['create', 'edit'].indexOf(value) !== -1
      }
    },
    show: { 
      type: Boolean,
      default: false
    },
    initData: {
      type: Object,
      default: () => ({})
    },
  },
  data: () => ({
    loading: false,
    form: {
      name: '',
      lastname: '',
      role: '',
      email: '',
      password: ''
    }
  }),
  computed: {
    title: function () {
      return this.mode === 'edit' ? 'Редактирование пользователя' : 'Добавление пользователя';
    },
    rules: function () {
      return {
        name: [{ required: true, message: 'Введите имя пользователя', trigger: 'blur' }],
        lastname: [{ required: true, message: 'Введите фамилию пользователя', trigger: 'blur' }],
        role: [
          { required: true, message: 'Выберите роль пользователя', trigger: 'blur' }
        ],
        email: [{
          required: true,
          message: 'Введите E-mail пользователя',
          trigger: 'blur',
          type: 'email'
        }],
        password: [{
          required: this.mode !== 'edit',
          message: 'Введите пароль пользователя',
          trigger: 'blur'
        }]
      };
    }
  },
  watch: {
    initData: function (values)  {
      this.form.name = (values.name) ? values.name : '';
      this.form.lastname = (values.lastname) ? values.lastname : '';
      this.form.role = (values.role && values.role.id) ? values.role.id : '';
      this.form.email = (values.email) ? values.email : '';
      this.form.password = '';
    }
  },
  methods: {
    onSubmit: function () {
      this.$refs['userForm'].validate(valid => {
        if (!valid) return false;
    
        this.$emit('submit', {
          id: this.initData.id || null,
          action: this.mode,
          values: this.form
        })
      });
    }
  }
}
</script>
