<template lang="pug">

section.dashboard
  header
    logo
    user-links

  .dashboard__title Номинанты
  transition(name="fade")
    nomination-slider.dashboard__slider(
      v-show="winners.length > 0"
      :nominations="winners"
    )

  progress-bar.dashboard__moderation-progress(
    label="Модерация"
    :total="stats.total_projects_count"
    :completed="stats.moderated_projects_count"
  )

  progress-bar.dashboard__rating-progress(
    label="Оценка"
    :total="stats.moderated_projects_count"
    :completed="stats.completed_projects_count"
  )

</template>

<script>
import ProgressBar from 'Components/ProgressBar.vue';
import NominationSlider from 'Components/NominationSlider.vue';

export default {
  components: {
    ProgressBar,
    NominationSlider,
  },
  data: () => ({
    loading: false
  }),
  computed: {
    winners: function () {
      return (this.stats.winners) ? this.stats.winners : [];
    },
    stats: function () {
      return this.$store.state.stats;
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData: function() {
      this.loading = true;
      this.$store.dispatch('loadStats').then(() => {
        this.loading = false;
      });
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'
@import '../../stylus/ui.styl'

.dashboard
  grid-template-rows $header-height 56px 54px 1fr 54px 1fr

  &__title
    @extend .section-title
    grid-column 2/18
    grid-row 2/3

  &__slider
    grid-column 1/19
    grid-row 4/5

  &__moderation-progress
    grid-column 2/9
    grid-row 6/7

  &__rating-progress
    grid-column 11/18
    grid-row 6/7

</style>
