<template lang="pug">

section.home
  header
    div
    router-link(to="/login") Вход

  .home__content
    h1.home__title
      div Фестиваль 
      div.title-big БлогФест
    .home__description
      p.
        Это первый и единственный молодежный инклюзивный фестиваль в России, 
        который ориентирован на поддержку и популяризацию начинающих блогеров 
        с разными возможностями здоровья и развития.

    .home__link-container
      router-link.home__link(to="/registration" v-if="$store.state.settings.reception") Принять участие
    
</template>

<script>
export default {}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl';

.home
  grid-template-rows $header-height 1fr
  background url('../../img/bg.jpg') 50% 50% no-repeat
  background-size cover

  header > a
    color #fff

  &__content
    grid-column 2/8
    grid-row 2/3
    width 370px
    padding-top 4vh
    font-size 2.34vh
    font-weight 300
    line-height 1.42
    letter-spacing 0.6px
    text-align left
    color #fff
  
  &__title
    margin-bottom 3.9vh
    font-size 2.34vh
    font-weight 300
    line-height 2.67
    letter-spacing 0.3px

    .title-big
      font-size 4.7vh
      font-weight 700
      line-height 1.33
      color #cf5b7c
      text-transform uppercase

  &__link-container
    display flex
    justify-content center
    margin-top 1.6vh
    margin-left 103px - 20
    align-items center
    width calc(22.3vh + 20px)
    height @width

    &:hover .home__link
      width calc(22.3vh + 20px)
      height @width

  &__link
    display flex
    justify-content center
    align-items center
    text-align center
    flex-grow 0
    flex-shrink 0
    width 22.3vh
    height @width
    background-color #9d5bb3
    border-radius 50%
    font-weight 500
    line-height 1.25
    letter-spacing 1.6px
    text-transform uppercase
    transition 0.25s all ease-in-out


</style>
