<template lang="pug">

section.login-section
  header
    logo

  .login-section__content
    el-form.login-form(ref="form", :model="form", @submit.native.prevent="onSubmit")
      el-form-item(label="E-mail:")
        el-input(v-model="form.email" type="email")

      el-form-item(label="Пароль:")
        el-input(v-model="form.password" type="password")

      .login-form__error(v-if="error") Неверный логин или пароль

      button.form-btn(type="submit") Вход

    .login-note
      p(v-for="user in users" @click="form.email = user.email; form.password = user.password;") {{ user.name + ': ' + user.email }}
      p Пароль: secret
  
</template>

<script>
import axios from 'axios';

export default {
  data: () => ({
    error: false,
    form: {
      email: '',
      password: '',
      remember: 1
    },
    users: [
      { name: 'Админ', email: 'admin@example.com', password: 'secret' },
      { name: 'Член жюри', email: 'judge@example.com', password: 'secret' },
      { name: 'Модератор', email: 'moderator@example.com', password: 'secret' },
      { name: 'Председатель комиссии', email: 'supervisor@example.com', password: 'secret' }
    ]
  }),
  methods: {
    onSubmit: function() {
      let { email, password, remember } = this.form;

      axios.post('/login', { email, password, remember })
      .then((response) => {
        this.error = false;
        window.location = response.data.intended;
      })
      .catch(() => {
        this.error = true;
      });
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'

.login-section
  position relative
  grid-template-rows $header-height 1fr
  background $bg-secondary
  overflow hidden
  
  &__content
    grid-column 2/18
    grid-row 2/3
    margin 10% auto 0
    font-size 24px
    font-weight 300
    text-align center

.login-form
  margin auto
  padding 24px
  background #fff
  z-index 2

  &__error
    margin 24px 0
    font-size 12px
    color #F56C6C

.login-note
  margin-top 24px
  background-color #fff
  padding 15px
  font-size 14px
  font-weight 300
  line-height 1.5
  z-index 2
  text-align left 

</style>
