<template lang="pug">

section.nomination-list
  header
    logo
    user-links

  .nomination-list__title Номинации
  transition(name="fade")
    nomination-slider.nomination-list__slider(
      v-show="nominations.length > 0"
      :nominations="nominations"
    )

  progress-bar.nomination-list__progress(
    label="Проверено"
    :total="totals.total"
    :completed="totals.completed"
  )

</template>

<script>
import NominationCard from 'Components/NominationCard.vue';
import NominationSlider from 'Components/NominationSlider.vue';
import ProgressBar from 'Components/ProgressBar.vue';

export default {
  components: {
    NominationCard,
    NominationSlider,
    ProgressBar
  },
  computed: {
    nominations: function () {
      return this.$store.state.nominationList;
    },
    totals: function () {
      let completed = 0;
      let total = 0;

      this.nominations.forEach(item => {
        completed += item.completed_projects_count;
        total += item.projects_count;
      });

      return {
        completed,
        total
      };
    },
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData: function() {
      this.$store.dispatch('loadNominationList', { short: false });
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'
@import '../../stylus/ui.styl'

.nomination-list
  grid-template-rows $header-height 56px 54px 1fr 54px 1fr

  &__title
    @extend .section-title
    grid-column 2/18
    grid-row 2/3

  &__slider
    grid-column 1/19
    grid-row 4/5

  &__progress
    grid-column 2/18
    grid-row 6/7

</style>
