<template lang="pug">

section.error-page
  header
    logo
  .error-page__content
    .error-page__number 404
    .error-page__title Запрашиваемая страница не найдена

</template>

<script>
export default {}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'

.error-page
  grid-template-rows $header-height 1fr

  &__content
    grid-column 2/18
    grid-row 2/3
    margin 20% auto 0
    font-size 24px
    font-weight 300
    text-align center

  &__number
    margin-bottom 20px
    font-size 28px

</style>
