<template lang="pug">

section.project-view
  .project-view__bg
  
  header
    logo
    user-links

  breadcrumbs(:elements="breadcrumbs")

  nomination-progress(
    :width="356"
    :total="nomination.projects_count"
    :completed="nomination.completed_projects_count"
  )

  transition(name="fade" :duration="500")
    project-viewer(
      v-show="projects && currentProjectIndex !== null"
      :projects="projects"
      :active-index="currentProjectIndex"
      :hovered="buttonHover"
      @changeProject="goToProject"
    )

  transition(name="fade" :duration="500")
    project-info(
      v-if="currentProject"
      :id="currentProject.id"
      :title="currentProject.title"
      :description="currentProject.description"
    )

  rating-form(
    v-if="checkRole('judge')"
    @buttonHover="(hover) => buttonHover = hover"
    @saveRating="saveRating"
  )

  moderation-form(
    v-if="checkRole('moderator')"
    @buttonHover="(hover) => buttonHover = hover"
    @saveModeration="saveModeration"
  )

</template>

<script>
import Breadcrumbs from 'Components/Breadcrumbs.vue';
import NominationProgress from 'Components/NominationProgress.vue';
import ProjectViewer from 'Components/ProjectViewer.vue';
import ProjectInfo from 'Components/ProjectInfo.vue';
import RatingForm from 'Components/RatingForm.vue';
import ModerationForm from 'Components/ModerationForm.vue';

export default {
  components: {
    Breadcrumbs,
    NominationProgress,
    ProjectViewer,
    ProjectInfo,
    RatingForm,
    ModerationForm,
  },
  data: () => ({
    loading: false,
    buttonHover: false
  }),
  computed: {
    projects: function() {
      return this.$store.state.projectList
    },
    nomination: function () {
      return this.$store.state.nomination;
    },
    breadcrumbs: function () {
      return [
        { title: 'Номинации', link: '/nominations' },
        { title: this.nomination.name, link: '' }
      ];
    },
    currentProjectIndex: function () {
      return this.projects.findIndex(
        item => item.id === this.currentProject.id
      );
    },
    nextProjectId: function () {
      let index = this.currentProjectIndex + 1;
      return (this.projects[index]) ? this.projects[index].id : null;
    },
    prevProjectId: function () {
      let index = this.currentProjectIndex - 1;
      return (this.projects[index]) ? this.projects[index].id : null;
    },
    currentProject: function () {
      return this.$store.state.project;
    }
  },
  watch: {
   '$route': 'loadProject'
  },
  created() {
    this.loadNomination();
    this.loadProjectList();
    this.loadProject();
  },
  methods: {
    loadProjectList: function () {
      let { nominationId } = this.$route.params;
      this.$store.dispatch('loadProjectList', { nominationId });
    },
    loadProject: function () {
      this.$store.dispatch('loadProject', this.$route.params.projectId);
    },
    loadNomination: function () {
      this.$store.dispatch('loadNomination', this.$route.params.nominationId);
    },
    goToProject: function (toProject) {
      let { nominationId } = this.$route.params;
      let projectId = toProject;

      if (toProject === 'next') {
        projectId = this.nextProjectId;
      }

      if (toProject === 'prev') {
        projectId = this.prevProjectId;
        
        if (!projectId) return;
      }

      if (projectId) {
        this.$router.push({
          name: 'projectView',
          params: { nominationId, projectId }
        });
      } else {
        this.$router.push({
          name: 'nominations'
        });
      }
    },
    saveRating: function (ratings) {
      let { nominationId, projectId } = this.$route.params;

      this.$store.dispatch('saveRating', {
        nominationId,
        projectId,
        ratings
      })
      .then(() => {
        this.goToProject('next');
      });
    },
    saveModeration: function ({ comment, status }) {
      let { nominationId, projectId } = this.$route.params;

      this.$store.dispatch('saveModeration', {
        projectId,
        nominationId,
        comment,
        status
      })
      .then(() => {
        this.goToProject('next');
      });
    }
  }
}
</script>

<style lang="stylus">

@import '../../stylus/vars.styl'
@import '../../stylus/mixins.styl'

.project-view
  grid-template-rows $header-height 56px 50px 477px 50px 1fr

  &__bg
    grid-column 8/19
    grid-row 1/7
    background $bg-secondary
  
  header .user-links
    margin-right 40px

  .breadcrumbs
    grid-column 2/9
    grid-row 2/3

  .nomination-progress
    grid-column 10/18
    grid-row 2/3

  .project-viewer
    grid-column 3/19
    grid-row 4/5
    width 100%

  .project-info
    grid-column 3/8
    grid-row 5/7

  .rating-form
    grid-column 9/18
    grid-row 6/7

  .moderation-form
    grid-column 8/18
    grid-row 5/7

</style>
