<template lang="pug">

section.registration-form
  .registration-form__bg
  
  header: logo

  .registration-form__back-btn(@click="$router.push('/')") Вернуться

  .registration-form__steps
    el-steps(:active="step" direction="vertical")
      el-step(title="Конкурсная работа")
      el-step(title="Контактные данные")
      el-step(title="Предпросмотр")

  .registration-form__form
    transition(name="fade-stay" mode="out-in")
      el-form(
        v-if="step === 0"
        key="projectForm"
        ref="projectForm"
        :model="projectForm"
        :rules="rules" 
        label-position="top"
      )
        el-form-item(label="Наименование конкурсной работы" prop="title")
          el-input(v-model="projectForm.title")
          .letter-counter(
            :class="{ error: projectForm.title.length > 80 }"
          ) {{ projectForm.title.length }}

        el-form-item(label="Краткое описание" prop="description")
          el-input(v-model="projectForm.description" type="textarea" :rows="4")
          .letter-counter(
            :class="{ error: projectForm.description.length > 140 }"
          ) {{ projectForm.description.length }}

        el-form-item(label="Номинация" prop="nomination")
          el-select(v-model="projectForm.nomination" placeholder="Выберите номинацию")
            el-option(
              v-for="nomination in nominations"
              :key="nomination.id"
              :label="nomination.name"
              :value="nomination.id")

        el-form-item(label="Ссылка на YouTube плейлист" prop="link")
          el-input(v-model="projectForm.link")

      el-form(
        v-else-if="step === 1"
        key="memberForm"
        ref="memberForm"
        :model="memberForm"
        :rules="rules"
        label-position="top"
      )
        el-form-item(label="Имя" prop="name")
          el-input(v-model="memberForm.name")

        el-form-item(label="Фамилия" prop="lastname")
          el-input(v-model="memberForm.lastname")

        el-form-item(label="E-mail" prop="email")
          el-input(v-model="memberForm.email")

        el-form-item(label="Номер телефона" prop="phone")
          el-input(v-model="memberForm.phone" v-mask="'+7 (###) ###-##-##'")
          
      .registration-form__preview(v-else-if="step === 2" key="preview")
        .registration-form__preview-section
          .registration-form__preview-label Номинация
          div {{ getNominationName(projectForm.nomination) }}

        .registration-form__preview-section
          .registration-form__preview-label Конкурсная работа
          h3 {{ projectForm.title }}
          div {{ projectForm.description }}

        .registration-form__preview-section
          .registration-form__preview-label Контакты
          .registration-form__preview-contact-item
            .icon.icon--user 
            | {{ memberForm.lastname }} {{ memberForm.name }}
          .registration-form__preview-contact-item
            .icon.icon--phone 
            | {{ memberForm.phone }}
          .registration-form__preview-contact-item
            .icon.icon--email 
            | {{ memberForm.email }}

  .registration-form__btn-group
    transition(name="fade-stay")
      button.registration-form__btn.registration-form__btn--back(
        v-if="step !== 0"
        @click="setStep(step - 1)"
      )
        .icon: include ../../img/arrow-big.svg
    
    button.registration-form__btn(
      :class="`registration-form__btn--${(step === 2) ? 'submit' : 'next'}`"
      @click="setStep(step + 1)"
    )
      .icon(v-if="step !== 2"): include ../../img/arrow-big.svg
      p(v-else) Отправить

</template>

<script>
import { mask } from 'vue-the-mask';
const yotubeRegexp = /https?:\/\/(?:[0-9A-Z-]+\.)?(?:youtu\.be\/|youtube(?:-nocookie)?\.com\S*)([\w-]{11})(?=[^\w-]|$)(?![?=&+%\w.-]*(?:['"][^<>]*>|<\/a>))[?=&+%\w.-]*/i;

export default {
  directives: {
    mask
  },
  data: () => ({
    step: 0,
    projectForm: {
      title: 'Science Show',
      description: 'Научная шоу-программа для детей от 4 до 15 лет.\n' +
                   'Показываем зрелищные научные эксперименты, '+
                   'где преподносятся основы физики и химии.',
      nomination: 1,
      link: 'https://youtu.be/7YQB7OytLhA'
    },
    memberForm: {
      name: 'Иван',
      lastname: 'Иванов',
      email: 'a@example.com',
      phone: '+7 (777) 777-77-77'
    },
    rules: {
      title: [
        {
          required: true,
          message: 'Введите название конкурсной работы',
          trigger: 'blur'
        },
        {
          min: 5,
          max: 80,
          message: 'Название должно быть длиной от 5 до 80 символов',
          trigger: 'blur'
        }
      ],
      description: [
        {
          required: true,
          message: 'Введите краткое описание конкурсной работы',
          trigger: 'blur'
        },
        {
          min: 5,
          max: 140,
          message: 'Краткое описание должно быть длиной от 5 до 140 символов',
          trigger: 'blur'
        }
      ],
      nomination: [
        { required: true, message: 'Выберите номинацию', trigger: 'blur' }
      ],
      link: [
        {
          required: true,
          message: 'Введите ссылку на YouTube видео',
          trigger: 'blur',
          pattern: yotubeRegexp
        }
      ],
      name: [{ required: true, message: 'Введите своё имя', trigger: 'blur' }],
      lastname: [{ required: true, message: 'Введите свою фамилию', trigger: 'blur' }],
      email: [
        {
          required: true,
          message: 'Введите свой E-mail',
          trigger: 'blur',
          type: 'email'
        }
      ],
      phone: [
        {
          required: true,
          message: 'Введите свой номер телефона',
          trigger: 'blur'
        }
      ]
    }
  }),
  computed: {
    nominations: function() {
      return this.$store.state.nominationList;
    }
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData: function() {
      this.$store.dispatch('loadNominationList', { short: true });
    },
    getNominationName: function (id) {
      if (this.nominations.length > 0) {
        return this.nominations.find(nomination => nomination.id === id).name;
      }
      
      return false;
    },
    setStep: function(nextStep) {
      let prevStep = this.step;

      if (nextStep === 0) {
        this.step = nextStep;
      }

      if (nextStep === 1) {
        if (prevStep === 2) {
          this.step = nextStep;
        } else {
          this.$refs['projectForm'].validate(valid => {
            if (!valid) return false;
            this.step = nextStep;
          });
        }
      }

      if (nextStep === 2) {
        this.$refs['memberForm'].validate(valid => {
          if (!valid) return false;
          this.step = nextStep;
        });
      }

      if (nextStep === 3) {
        this.sendData();
      }
    },
    sendData: function() {
      let data = Object.assign(this.projectForm, this.memberForm);

      this.$store.dispatch('createProject', data).then(() => {
        this.$router.push('/');
      }, null);
    }
  },
};
</script>

<style lang="stylus">

@import '../../stylus/vars.styl';

.registration-form
  grid-template-rows $header-height 56px 600px 120px 1fr

  &__bg
    grid-column 8/19
    grid-row 1/6
    background $bg-secondary

  &__back-btn
    grid-column 2/18
    grid-row 2/3
    display flex
    align-items center
    font-size 16px
    font-weight 300
    line-height 3.5
    letter-spacing 0.3px
    color $text-primary
    cursor pointer

    &:before
      content ''
      display block
      width 32px
      height 10px
      margin-right 16px
      background url('../../img/back.svg') 50% 50% no-repeat

  &__steps
    grid-column 3/8
    grid-row 3/4
    height 200px
    margin-top 64px
    margin-left 16px

  .el-step.is-vertical
    .el-step
      &__head
        width 40px
        
      &__head.is-process > .el-step__icon,
      &__head.is-finish > .el-step__icon
        background-color $bg-secondary
        border-color $bg-secondary
        color $text-primary

      &__icon
        width 40px
        height 40px
        background-color none
        border solid 1px $text-placeholder
        text-align center
        color $text-placeholder

      &__icon-inner
        font-family inherit
        font-size 12px
        font-weight 500
        line-height 40px
        letter-spacing 0.1px
        transition all 0.25s

      &__line
        top 40px
        left 19.5px
        width 1px
        height 41px
        background-color $text-placeholder

        &-inner
          display none

      &__main
        padding-left 16px

      &__title
        font-size 16px
        font-weight 300
        line-height 2.5
        color $text-placeholder

        &.is-process
          color $text-primary
          font-weight 500

  &__form
    grid-column 10/16
    grid-row 3/4

    .el-form-item
      position relative

    .letter-counter
      position absolute
      right 0
      bottom -16px
      font-size 12px
      color $text-placeholder
      line-height 1
      transition color 0.25s ease-in-out

      &.error
        color #f56c6c

  &__preview

    &-section
      margin-bottom 32px
      font-size 16px
      font-weight 300
      line-height 1.5
      letter-spacing 0.3px
      color $text-primary

    &-label
      font-size 12px
      line-height 4
      letter-spacing 0.2px
      color $text-secondary

    h3
      margin-bottom 24px
      font-size 15px
      font-weight 500
      line-height 1
      color $text-primary

    &-contact-item
      display flex
      align-items center
      margin-bottom 8px

      .icon
        display block
        width 12px
        height 12px
        margin-right 16px

        &--user
          background url('../../img/user.svg') 50% 50% no-repeat

        &--phone
          background url('../../img/phone.svg') 50% 50% no-repeat

        &--email
          width 15px
          margin-right 13px
          background url('../../img/mail.svg') 50% 50% no-repeat

  &__btn-group
    grid-column 14/18
    grid-row 4/5
    display flex
    align-items center
    justify-content flex-end

  &__btn
    display flex
    justify-content center
    align-items center
    width 80px
    height @width
    border solid 1px $outline
    border-radius 50%
    background none
    outline none
    color $outline
    cursor pointer
    text-transform uppercase
    transition all 0.25s

    &:hover:enabled
      background-color #fff
      border-color #fff
      color $text-primary

      #Next
        fill $text-primary
    
    &--back .icon
      transform rotate(-180deg)

      #Next
        transition fill 0.25s
        fill $outline

    &--next
      margin-left 40px
      margin-right 24px
      background-color #fff
      border-color #fff
      color $text-primary

    &--submit
      width 120px
      height @width
      margin-left 20px
      margin-right 4px

      &:enabled
        font-family inherit
        font-weight 500
        background-color #fff
        border-color #fff
        color $text-primary

    svg
      display block

</style>
