.fade-enter-active, .fade-leave-active
  transition opacity .5s

.fade-enter, .fade-leave-to
  position absolute
  opacity 0

.fade-stay-enter-active, .fade-stay-leave-active
  transition opacity .5s

.fade-stay-enter, .fade-stay-leave-to
  opacity 0