@import url('//fonts.googleapis.com/css?family=Merienda+One|Roboto:300,400,500,700');
@import '../../../node_modules/element-ui/lib/theme-chalk/index.css'
@import '../fonts/HelveticaNeueCyr/stylesheet.css'
@import '~swiper/dist/css/swiper.css'  
@import './animations.styl'
@import './vars.styl'
@import './ui.styl'

*, *:after, *:before
  box-sizing border-box
  margin 0
  padding 0

a
  color inherit
  text-decoration none
  outline none

html
  height 100%

body
  background-color #fff
  font-family 'HelveticaNeueCyr'
  color $text-regular
  font-size 16px
  letter-spacing 0.3px
  line-height 1
  overflow-x hidden

#app
  height 100vh

section
  display grid
  grid-template-columns 1fr repeat(16, 56px) 1fr
  grid-column-gap 16px
  width 100%
  height 100vh
  background-color #fff

header
  grid-column 2/18
  grid-row 1/2
  display flex
  justify-content space-between
  align-items center

.el-table
  font-weight 300
  
  td, th
    border-color #dadada
    font-weight 300

  tr:hover > td
    background-color lighten($bg-secondary, 50%)

.el-popover
  font-weight 300

.el-dialog
  border-radius 0

  &__header
    padding 24px 24px 16px

  &__title
    color $text-primary
  
  &__body
    padding 16px 24px

  &__footer
    padding 16px 24px 24px


.el-form-item
  &__label
    padding 0 !important
    font-size 16px
    font-weight 300
    line-height 3
    letter-spacing 0.3px

  &__error
    font-weight 300

.el-select
  width 100%

.el-select-dropdown
  border-radius 0
  font-family 'HelveticaNeueCyr'
  font-size 16px
  font-weight 300

  &__item.selected
    font-weight 300

.el-input__inner,
.el-textarea__inner
  border-radius 0
  border solid 0.4px $outline
  color $text-primary
  font-family 'HelveticaNeueCyr'
  font-size 16px
  font-weight 300
  letter-spacing 0.3px

.el-input__inner
  height 48px
  padding 0 16px

.el-textarea__inner
  padding 12px 16px
  line-height 1.5

.el-pagination .number
  color $text-primary
  font-weight 300

.el-message-box
  &__header
    padding-top 32px

  &__content
    font-weight 300
    padding 16px

  &__btns
    padding 16px 16px 0

    .el-button
      @extend .form-btn
      
      &:hover
        background none
      
