.section-title
  font-size 24px
  font-weight 300
  line-height 2.33
  letter-spacing 0.5px
  text-align center
  color $text-primary

.add-btn
  width 64px
  height @width
  background #fff
  border solid 1px $outline
  color $outline
  border-radius 50%
  cursor pointer
  font-size 18px
  transition all 0.25s
  outline none

  &:hover
    color $text-primary

.form-btn
  font-family 'HelveticaNeueCyr'
  font-size 14px
  font-weight 500
  text-transform uppercase
  background none
  padding 8px 16px
  border none
  color $text-secondary
  cursor pointer
  transition all 0.25s
  outline none

  &:hover
    color $text-primary

  &--cancel
    //

  &--submit
    //