<template lang="pug">
section.settings
  header
    logo
    user-links

  breadcrumbs(:elements="breadcrumbs")

  .settings__last-update-date 
    | Дата последнего изменения: {{ formatDate(settings.updated_at) }}

  .settings__content
    settings-form(
      v-loading="loading"
      :init-data="settings" 
      @submit="save"
    )

</template>

<script>
import moment from 'moment';
import Breadcrumbs from 'Components/Breadcrumbs.vue';
import SettingsForm from 'Components/admin/SettingsForm.vue';

export default {
  components: {
    Breadcrumbs,
    SettingsForm,
  },
  data: () => ({
    loading: false,
    breadcrumbs: [
      { title: 'Админ-панель', link: '/admin' },
      { title: 'Настройки', link: '' }
    ]
  }),
  computed: {
    settings: function () {
      return this.$store.state.settings;
    }
  },
  created() {
    this.loadData();
  },
  mounted() {
    moment.locale('ru');
  },
  methods: {
    loadData: function() {
      this.loading = true;
      this.$store.dispatch('loadSettings').then(() => {
        this.loading = false;
      });
    },
    formatDate: function (date) {
      return moment(date).fromNow();
    },
    save: function(data) {
      this.loading = true;
      this.$store.dispatch('saveSettings', data).then(() => {
        this.loading = false;
      }, null);
    }
  }
}
</script>

<style lang="stylus">

@import '../../../stylus/vars.styl'
@import '../../../stylus/ui.styl'

.settings
  grid-template-rows $header-height 56px 50px 1fr
  background-color $bg-secondary

  .breadcrumbs
    grid-column 2/9
    grid-row 2/3

  &__last-update-date
    grid-column 10/18
    grid-row 2/3
    text-align right
    line-height 56px
    font-weight 300

  &__content
    grid-column 4/16
    grid-row 4/5

</style>
