<template lang="pug">

section.user-list
  header
    logo
    user-links

  breadcrumbs(:elements="breadcrumbs")

  user-form(
    :mode="formMode"
    :show="showForm"
    :init-data="formMode === 'edit' ? currentItemData : {}"
    @submit="save"
    @close="showForm = false"
  )

  button.user-list__add-btn(@click="showCreateForm") 
    i.el-icon-plus 

  .user-list__content
    el-table(
      v-loading="loading"
      :data="users"
      empty-text="Нет данных :("
    )
      el-table-column(
        prop="id"
        label="#"
        width="70"
        align="center"
      )
      el-table-column(
        prop="name"
        label="Имя"
        align="left"
      )
      el-table-column(
        prop="lastname"
        label="Фамилия"
        align="left"
      )
      el-table-column(
        prop="role.label"
        label="Роль"
        width="200"
        align="left"
      )
      el-table-column(
        prop="email"
        label="E-mail"
        align="left"
        show-overflow-tooltip
      )
      el-table-column(
        prop="created_at"
        label="Дата добавления"
        width="250"
        align="center"
      )
        template(slot-scope="scope")
          el-popover(trigger="hover" placement="top")
            p {{ scope.row.created_at }}
            div(slot="reference")
              p {{ formatDate(scope.row.created_at) }}

      el-table-column(width="140")
        template(slot-scope="scope")
          .table-actions
            el-button(
              size="mini"
              icon="el-icon-edit"
              @click="showEditForm(scope.row.id)"
            )
            el-button(
              type="danger"
              size="mini"
              icon="el-icon-delete"
              @click="deleteItem(scope.row.id)"
            )

    el-pagination.user-list__pagination(
      layout="prev, pager, next"
      :current-page="pagination.current_page"
      :total="pagination.total"
      @current-change="loadData"
    )

</template>

<script>
import moment from 'moment';
import Breadcrumbs from 'Components/Breadcrumbs.vue';
import UserForm from 'Components/admin/UserForm.vue';

export default {
  components: {
    Breadcrumbs,
    UserForm,
  },
  data: () => ({
    loading: false,
    showForm: false,
    formMode: 'create',
    currentItemData: {},
    breadcrumbs: [
      { title: 'Админ-панель', link: '/admin' },
      { title: 'Пользователи', link: '' }
    ]
  }),
  computed: {
    users: function () {
      return this.$store.state.userList;
    },
    pagination: function () {
      return this.$store.state.pagination.userList;
    }
  },
  created() {
    this.loadData();
  },
  mounted() {
    moment.locale('ru');
  },
  methods: {
    loadData: function(page = 1) {
      if (!this.loading) {
        this.loading = true;
        this.$store.dispatch('loadUserList', { page }).then(() => {
          this.loading = false;
        });
      }
    },
    formatDate: function (date) {
      return moment(date).fromNow();
    },
    showCreateForm: function() {
      this.formMode = 'create';
      this.showForm = true;
    },
    showEditForm: function(id) {
      this.formMode = 'edit';
      this.currentItemData = this.users.find(item => item.id === id);
      this.showForm = true;
    },
    save: function(data) {
      let { id, action, values } = data;

      if (action === 'create') {
        this.$store.dispatch('createUser', values).then(() => {
          this.showForm = false;
        }, null);
      }

      if (action === 'edit') {
        this.$store.dispatch('updateUser', {id, ...values}).then(() => {
          this.showForm = false;
        }, null);
      }
    },
    deleteItem: function(id) {
      this.$confirm('Удаление пользователя также удалит выставленные им оценки. Продолжить?', 'Внимание!',{
        confirmButtonText: 'OK',
        cancelButtonText: 'Отмена',
        type: 'warning',
        center: true
      })
      .then(() => {
        this.$store.dispatch('deleteUser', id);
      }, null);
    }
  }
}
</script>

<style lang="stylus">

@import '../../../stylus/vars.styl'
@import '../../../stylus/ui.styl'

.user-list
  grid-template-rows $header-height 64px 50px 1fr

  .breadcrumbs
    grid-column 2/9
    grid-row 2/3

  &__add-btn
    @extend .add-btn
    grid-column 16/18
    grid-row 2/3

  &__content
    grid-column 2/18
    grid-row 4/5
    text-align center

  &__pagination
    margin-top 32px

</style>
