<template lang="pug">

section.admin-home
  header
    logo
    user-links
    
  .admin-home__menu
    .admin-home__menu-item: router-link(:to="{ name: 'admin.nominations' }") Номинации
    .admin-home__menu-item: router-link(:to="{ name: 'admin.criteria' }") Критерии
    .admin-home__menu-item: router-link(:to="{ name: 'admin.projects' }") Конкурсные работы
    .admin-home__menu-item: router-link(:to="{ name: 'admin.users' }") Пользователи
    .admin-home__menu-item: router-link(:to="{ name: 'admin.settings' }") Настройки

</template>

<script>
export default {}
</script>

<style lang="stylus">

@import '../../../stylus/vars.styl'

.admin-home
  grid-template-rows $header-height 1fr
  align-items center

  &__menu
    grid-column 4/8
    grid-row 2/3
    margin-bottom 150px

    &-item
      font-size 20px
      font-weight 300
      line-height 2.5
      letter-spacing 0.8px
      color $text-primary
      transition all 0.25s

      &:hover
        transform translateX(16px)
    
</style>
